body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    font-family: Sans-serif;
    color: #2c3440;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
.header ,.footer {
    height: 85px;
    background-color: #242b3a;
}
.nav{
    height: 85px;
    float: right;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 33px 30px;
    text-decoration: none;
    font-size: 18px;
  }
  .nav a:hover {
    background-color: #575c66;
  }
  * h4 {
    text-transform: uppercase;
    text-align: left;
    font-size: large;
}
  * h2 {
  text-transform: uppercase;
  text-align: left;
}
  .title{
    margin-left: 15%;
    font-size: x-large;
}

*,*:before,*:after {
    box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.body-bg {
  margin-left: 15%;
  margin-right: 15%;
}
.container{
  padding: 0 16px;
}
.container::after,.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
  height: 100%;
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.images img:hover {
  opacity: 0.9;
}
.footer {
  left: 0;
  bottom: 0;
  margin-bottom: 0%;
  width: 100%;
  color: #a7aaaf;
}
section{
  flex-grow: 1;
}
