<header class ="header">
    <a href="/Home"><img src="images/Logo_DriveSound-01.png" width="100px%"></a>
<nav class ="nav">
    <a href="/Search">Search</a>
    <a href="/About_Us">About Us</a>
    <a href="/Account">Account</a>
    <a href="/Login/logout">Logout</a>
</nav>
</header>