<!DOCTYPE html>
<html>
<head>
    <title>About Us Page</title>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleaboutus.css">
</head>

<body>
    <header class ="header">
        <a href="/Home"><img src="images/Logo_DriveSound-01.png" width="100px"></a>
    <nav class ="nav">
        <a href="/Search">Search</a>
        <a href="/About_Us">About Us</a>
        <a href="/Account">Account</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
<section>
<div class ="title">
    <h1>About us</h1>
</div>
    <div class ="body-bg">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="images">
                        <img src="https://avatars.githubusercontent.com/u/98636379?v=4"  width="100%" height="auto">
                            <div class="container ">
                                <h2>Oat</h2>
                                <p>6388001 Phumtham Akkarasiriwong</p>
                                <p>Section 1 Group 6</p>
                                <h4>Contact</h4>
                                <p><a href="mailto: phumtham.akk@student.mahidol.ac.th">phumtham.akk@student.mahidol.ac.th</a></p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="images">
                        <img src="https://avatars.githubusercontent.com/u/98454141?v=4" width="100%" height="auto">
                            <div class="container " id ="aboutus">
                                <h2>Lee</h2>
                                <p>6388048 Leenawat Honglerdnapakul</p>
                                <p>Section 1 Group 6</p>
                                <h4>Contact</h4>
                                <p><a href="mailto: leenawat.hon@student.mahidol.ac.th">leenawat.hon@student.mahidol.ac.th</a></p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="images">
                        <img src="https://avatars.githubusercontent.com/u/98454214?v=4" width="100%" height="auto">
                            <div class="container ">
                                <h2>Richy</h2>
                                <p>6388137 Phurich Kongmont</p>
                                <p>Section 1 Group 6</p>
                                <h4>Contact</h4>
                                <p><a href="mailto:phurich.kon@student.mahidol.ac.th">phurich.kon@student.mahidol.ac.th</a></p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <footer class ="footer">
        <f>@drive sound</f>
    </footer>
</body>


</html>
