<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Account Page</title>
    <link rel="stylesheet" href="css/styleforaccout.css">

</head>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        getData();
    });
    function getData(){
        let url = window.location.href
        let data=url.split("/");
        let name=data[3].split("?");
        var output = `<a href="/Home?`+name[1]+`?`+name[2]+`"><img src="images/Logo_DriveSound-01.png" width="100px%"></a>
                    <nav class ="nav">
                        <a href="/Search?`+name[1]+`?`+name[2]+`">Search</a>
                        <a href="/About_Us?`+name[1]+`?`+name[2]+`">About Us</a>
                        <a href="/Account?`+name[1]+`?`+name[2]+`">Account</a>`
          if (name[2] == 'a') {
              output += `   <a href="/Admin?`+name[1]+`?`+name[2]+`">User Edit</a>
                            <a href="/Adminmusic?`+name[1]+`?`+name[2]+`">Music Edit</a>`
          }
          
          output += `<a href="/Login/logout">Logout</a></nav>`  
          document.getElementById('head').innerHTML = output;
        }
</script>
<body>
    <header class ="header" id = "head">
    </header>
    <div class = "container">
        <div class = "container" id = "top">
            <div class ="row">
                <div class ="column">
                    <h1>Account</h1>
                    <img id="img-profile" src="images/img_avatar3.png" width="100px">
                </div>
                <div class ="column">
                    <h1 id = "name">Name</h1>
                </div>
            </div>
        </div>
        <div class = "container" id = "bottom">
            <div class ="row">
                <div class ="column" id ="leftside">
                    <nav class ="leftside-navbar">
                        <a class="active" href="#profile">Profile</a>
                        <a href="#like">Like</a>
                        <a href="#listened">Listened</a>
                        <a href="#listen-later">Listen Later</a>
                    </nav>
                </div>
                <div class ="column" id = "detail">
                    <p class="head">Profile</p>
                    <p>First name : xxxxxxxx</p>
                    <p>Last name : xxxxxxxxx</p>
                    <p>Age : xx</p>
                    <p>Birth date : xx xx xxxx</p>
                </div>
            </div>
        </div>
    <footer class ="footer">
        <f>@drive sound</f>
    </footer>
</body>

</html>