<!DOCTYPE html>
    <html lang="en">
       
        <head>
            <title>Drive Sound</title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <link rel="stylesheet" href="css/styleforhome.css">

        </head>
       <script>
           
        document.addEventListener("DOMContentLoaded", function () {
            getData();
            setnewlist();
            setpoplist();
          });
        function getData(){
            let url = window.location.href
            let data=url.split("/");
            let name=data[3].split("?");
            var output = `<a href="/Home?`+name[1]+`?`+name[2]+`"><img src="images/Logo_DriveSound-01.png" width="100px%"></a>
                        <nav class ="nav">
                            <a href="/Search?`+name[1]+`?`+name[2]+`">Search</a>
                            <a href="/About_Us?`+name[1]+`?`+name[2]+`">About Us</a>
                            <a href="/Account?`+name[1]+`?`+name[2]+`">Account</a>`
              if (name[2] == 'a') {
                  output += `   <a href="/Admin?`+name[1]+`?`+name[2]+`">User Edit</a>
                                <a href="/Adminmusic?`+name[1]+`?`+name[2]+`">Music Edit</a>`
              }
              
              output += `<a href="/Login/logout">Logout</a></nav>`  
              document.getElementById('head').innerHTML = output;
            }
        function setnewlist(){
              $.ajax({
                type: 'POST',
                url: 'http://localhost:8888/Home',
                dataType: 'json',
                data: {
                    type_data: 'all',
                    s_data: 'all',
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById('cover_for_new1').src = json[0].song_photo;
                    document.getElementById('cover_for_new2').src = json[1].song_photo;
                    document.getElementById('cover_for_new3').src = json[2].song_photo;
                },
                error: function (data) {
                    alert('data.responseJSON.error');
                }
        
            });
          }
        function setpoplist(){
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8888/Home',
                dataType: 'json',
                data: {
                    type_data: 'all-pop',
                    s_data: 'all',
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById('cover_for_pop1').src = json[0].song_photo;
                    document.getElementById('cover_for_pop2').src = json[1].song_photo;
                    document.getElementById('cover_for_pop3').src = json[2].song_photo;
                },
                error: function (data) {
                    alert('data.responseJSON.error');
                }
        
            });
          }
        function selecttype(){
            var x = document.getElementById("type").value;
            console.log(x)
            document.getElementById('btn').style.pointerEvents = "auto"; 
        }
        function senturlnew1(){
            var val =document.getElementById('cover_for_new1').src;
            searchsong(val);
        }
        function senturlnew2(){
            var val =document.getElementById('cover_for_new2').src;
            searchsong(val);
        }
        function senturlnew3(){
            var val =document.getElementById('cover_for_new3').src;
            searchsong(val);
        }
        function senturlpop1(){
            var val =document.getElementById('cover_for_pop1').src;
            searchsong(val);
        }
        function senturlpop2(){
            var val =document.getElementById('cover_for_pop2').src;
            searchsong(val);
        }
        function senturlpop3(){
            var val =document.getElementById('cover_for_pop3').src;
            searchsong(val);
        }
        function searchsong(x){
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8888/Search',
                dataType: 'json',
                data: {
                    search: x,
                    type_search: 'song_photo',
                    action: 'post'
                },
                success: function (json) {
                    $.each(json, function( index, value ) {
                        if(value.song_brand == null){
                            document.location.href = '/Result?'+value.song_name+"?-?"+value.song_solo_musician;
                        }else{
                            document.location.href = '/Result?'+value.song_name+"?"+value.song_brand+"?-";
                        }
                        
                    })
                    
            //location.href = '/Result?'+name+"?"+brand+"?"+solo_musician;
        },
        error: function (data) {
            alert('data.responseJSON.error');
        }
        });
        }
        $(document).on('click', '.search', function () {
            var type = document.getElementById('type').value;
            console.log(type)
            location.href = '/List?Type='+type;
            
        })
       </script>
        <body>

            <header class ="header" id = "head">
            </header>
            
                <div class ="bg-image">
                    <p class="title">Welcome back user</p>
                </div>
                
                <div class ="container">

                    
                    <a href="/List?new-in-drive-sound" style="text-decoration: none" id = "type_list" value = "New in drive sound"><h1> New in drive sound</h1></a>
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a ><img id = "cover_for_new1" onClick = "senturlnew1()" src="images/Img.1.jpg" value ="song" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a href="/Home"><img id = "cover_for_new2" onClick = "senturlnew2()" src="images/Img.3.jpg" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a href="/Home"><img id = "cover_for_new3" onClick = "senturlnew3()" src="images/Img.2.jpg" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class ="container">
                        <a href="/List?popular-in-drive-sound"><h1>popular in drive sound</h1></a>
                        <div class="row">
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img id = "cover_for_pop1" onClick = "senturlpop1()" src="images/Img.1.jpg" style="width:100%" > </a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img id = "cover_for_pop2" onClick = "senturlpop2()" src="images/Img.3.jpg" style="width:100%" ></a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img id = "cover_for_pop3" onClick = "senturlpop3()" src="images/Img.2.jpg" style="width:100%" ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                <div class ="category">   
                    <br>
                    <h>Category</h>   
                    <div class="select" >
                            <select id ="type" onchange="selecttype()" >
                                <option value="" disabled selected>Select type of music</option>
                                <option class="option" value="pop">pop</option>
                                <option class="option" value="rock">rock</option>
                                <option class="option" value="Indie">Indie</option>
                                <option class="option" value="R&B">R&B</option>
                                <option class="option" value="Alternative">Alternative</option>
                                <option class="option" value="Electropop">Electropop</option>
                                <option class="option" value="Hip-Hop">Hip-Hop</option>
                            </select>
                    </div>
                    <div>
                        <button class = "search" id="btn" type ="button" value="Submit" >Click Me!</button>
                    </div>
                </div>  

                <footer class ="footer">
                    <f>@drive sound</f>
                </footer>
        </body>
    </html>