<!DOCTYPE html>
    <html lang="en">
       
        <head>
            <title>Drive Sound</title>
            <link rel="stylesheet" href="../public/css/styleforhome.css">

        </head>
        <body>

            <header class ="header">
                    <a href="/Home"><img src="../public/images/Logo_DriveSound-01.png" width="100px%"></a>
                <nav class ="nav">
                    <a href="/Search">Search</a>
                    <a href="/About_Us">About Us</a>
                    <a href="/Account">Account</a>
                    <a href="/logout">Logout</a>
                </nav>
            </header>
            
                <div class ="bg-image">
                    <p class="title">Welcome back user</p>
                </div>
                
                <div class ="container">

                    
                    <a href="/Home" style="text-decoration: none"><h1> New in drive sound</h1></a>
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a href="/Home"><img src="../public/images/Img.1.jpg" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a href="/Home"><img src="../public/images/Img.3.jpg" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="images">
                                    <a href="/Home"><img src="../public/images/Img.2.jpg" style="width:100%" ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class ="container">
                        <a href="/Home"><h1>popular in drive sound</h1></a>
                        <div class="row">
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img src="../public/images/Img.1.jpg" style="width:100%" > </a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img src="../public/images/Img.3.jpg" style="width:100%" ></a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="column">
                                <div class="card">
                                    <div class="images">
                                        <a href="/Home"><img src="../public/images/Img.2.jpg" style="width:100%" ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                <div class ="category">   
                    <br>
                    <h>Category</h>   
                    <div class="select">
                            <select>
                                <option value="" disabled selected>Select type of music</option>
                                <option class="option" value="2">jazz</option>
                                <option class="option" value="3">rock&roll</option>
                                <option class="option" value="3">blue</option>
                            </select>
                    </div>
                    <div>
                        <button type="button" onclick="alert('Hello world!')">Click Me!</button>
                    </div>
                </div>  

                <footer class ="footer">
                    <f>@drive sound</f>
                </footer>
        </body>
    </html>