<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search_Page</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styleforsearch.css"> 
</head>
<script>
    var val = document.getElementById('criteria');
    var name,brand,solo;
    function update() {
        var select = document.getElementById('criteria');
        var option = select.options[select.selectedIndex];
        val = option.value;
        console.log(val)
    }
  
    var obj;
    $(document).on('click', '.searchButton', function () {
    $.ajax({
        type: 'POST',
        url: 'http://localhost:8888/Search',
        dataType: 'json',
        data: {
            search: $(search_song).val(),
            type_search: val,
            action: 'post'
        },
        success: function (json) {
            document.getElementById('results').style.display = 'inline';
            let output = `<hr>`;
            if(json.length > 0){
                $.each(json, function( index, value ) {

                    if(value.song_brand == null){
                        value.song_brand = '-';
                        brand = value.song_brand;
                    }
                    if(value.song_solo_musician == null){
                        value.song_solo_musician = '-';
                        brand = value.song_solo_musician;
                    }
                    name = value.song_name;
                    let pdate = value.song_produced_date.split("T")[0];
                    if(value.song_photo == null){
                        output += `<div class="card text-white bg-dark mb-3 hover-overlay" id = "card-data`+value.song_id+`" onClick ="onClick()" style="width: 300px; height : 80px; display: inline-block; margin-left: 3% "">
                                        <div class="row g-0">
                                        <div class="col-md-4">
                                            
                                            <img src="./public/images/cover song/cover.jpg" class="img-fluid rounded-start" alt="..."style = "width: 100px; padding: 2px ">
                                        </div>`
                    }else{
                        output += `<div class="card text-white bg-dark mb-3 hover-overlay" id = "card-data`+value.song_id+`" onClick ="onClick()" style="width: 300px; display: inline-block; margin-left: 3%">
                                        <div class="row g-0">
                                        <div class="col-md-4">
                                            
                                            <img src="`+value.song_photo+`" class="img-fluid rounded-start" alt="..."style = "width: 100px; padding: 2px">
                                        </div>`
                    }
                    if(value.song_brand == '-'){
                        output += `
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" id ="name">`+value.song_name+`<p style ="visibility: hidden; display: inline-block;">#sn</h5>
                                  <p class="card-text text-white" id ="solo"><small class="text-muted">`+value.song_solo_musician+`<p1 style ="visibility: hidden; display: inline-block;">#ss</small></p>
                                </div>
                              </div>
                            </div>
                          </div>`
                    }else{
                        output += `
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" id ="name">`+value.song_name+`<p style ="visibility: hidden; display: inline-block;">#sn</h5>
                                  <p class="card-text text-white" id ="brand"><small class="text-muted">`+value.song_brand+`<p1 style ="visibility: hidden; display: inline-block;">#sb</small></p>
                                </div>
                              </div>
                            </div>
                            <div
                                class="mask"
                                style="
                                background: linear-gradient(
                                    45deg,
                                    rgba(29, 236, 197, 0.5),
                                    rgba(91, 14, 214, 0.5) 100%
                                );
                                "
                            ></div>
                          </div>`
                    }
                    
            }) 
            }else{
                output +=`<p id = "not-found">Not Found</p>`
            }
            document.getElementById('results').innerHTML = output;
        },
        error: function (data) {
            alert('data.responseJSON.error');
        }

    });
});  


//move
$(document).on('click', '.card', function (e) {
    //alert($(this).)
    var text = $(e.target).text();
    var form ;
    for(var i = 0; i < text.length ; i++){
        if(text[i] != " " ){
            form += text[i];
        }else{
            if(text[i+1] != " "){
                form += text[i];
            }
        }
        
    }
    let a = form.split(/\r?\n/)
    var data_name = a[1].split('#');
    var data_solo_brand = a[2].split('#');
    var name,brand,solo_musician;
    if(data_solo_brand[1] == 'ss'){
        brand = "-"
        var data = data_solo_brand[0];
        var temp = "0/";
        for(var i = 0 ; i< data.length-1 ; i++){
            temp += data[i+1];
        }
        var data_temp = temp.split('/')
        solo_musician = data_temp[1];
    }else{
        solo_musician = "-"
        var data = data_solo_brand[0];
        var temp = "0/";
        for(var i = 0 ; i< data.length-1 ; i++){
            temp += data[i+1];
        }
        var data_temp = temp.split('/')
        brand = data_temp[1];
    }
    var data = data_name[0];
    var temp = "0/";
    for(var i = 0 ; i< data.length-1 ; i++){
        temp += data[i+1];
    }
    var data_temp = temp.split('/')
    name = data_temp[1];
$.ajax({
    type: 'POST',
    url: 'http://localhost:8888/Search',
    dataType: 'json',
    data: {
        name: name,
        brand: brand,
        solo_musician: solo_musician,
        action: 'post'
    },
    success: function (json) {

        fetch("http://localhost:8888/Result",{
            method: "POST",
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({
                name : name,
                brand : brand,
                solo_musician : solo_musician
               
            })
        })
        .then(response => response.json())
        .then(data => SetResult(data));
        document.location.href = '/Result?'+name+"?"+brand+"?"+solo_musician;
        

        
    },
    error: function (data) {
        alert("error");
    }
});
});
</script>
<body onload="update()">
<header class ="header">
        <a href="/Home"><img src="../images/Logo_DriveSound-01.png" width="100px%"></a>
    <nav class ="nav">
        <a href="/Search">Search</a>
        <a href="/About_Us">About Us</a>
        <a href="/Account">Account</a>
        <a href="/Login/logout">Logout</a>
    </nav>
</header>
<div class="headline">
    <p>Search Box Music</p>
</div>
    <div class="container">
            <div class="searchBox">
                
                    <p>Search from :
                        
                            <select class="custom-select" style="width:130px;height:30px;margin-left:30px "id ="criteria" onchange="update()">
                              
                              <option value="name">Name</option>
                              <option value="brand">Brand</option>
                              <option value="solo">Solo Musician</option>
                              <option value="type">Type</option>
                            </select>
    
                    
                    <input class="searchInput" id="search_song" type="search" name="search" style="display: inline;" placeholder="Search Music" required>
                      
                    <button class="searchButton" id="btn" type ="submit"  value="Submit">
                    <i class="click" id="c" > 
                         Search 
                     </i>
                 </button> 
                </div>

            </div>
    </div>
    <div class ="container2">
        <form id ="output" method = "get" >
            <table style = "display: none" id = "results" class="table table-hover table-dark" >
            </table>
        </form>
    </div>
</body>

<br>
<br>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>



</html>
