<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Starter Page</title>
            <link rel="stylesheet" href="css/styleforstarter.css">
        </head>
            
        <body>
            <header class ="header">
                <a href=""><img src="images/Logo_DriveSound-01.png" width="100px"></a>
            </header>
           
            <div class="container">
                <div class = "title">
                    <h1>Drive sound</h1>
                    <p>Website documentary music <br><br>You can create your music history and review some song.</p>
                </div>
                <div class ="input">
                    <a href="/Login" class="button">Join us</a>
                </div>
            </div>
                
        </body>
    


    </html>